<% container 'full-width' %>

<div class="container container--columns container--full-width container--no-margins">
  <div id="pricings" data-frame-src="<%= pricings_path %>">

  </div>

  <div id="referentials" data-frame-src="<%= referentials_path %>" data-frame-delay="100">

  </div>

  <div id="taxes" data-frame-src="<%= taxes_path %>" data-frame-delay="200">

  </div>
</div>
