<% container :medium %>

<div class="box animation animation--fade-in-up">
  <div class="box__content">
    <h1 class="box__title">New mission</h1>
  </div>
  <div class="box__content">
    <%= render 'form', mission: @mission %>
  </div>
</div>
