<template id="popin">
  <div class="popin container container--full-screen container--center container--margins-vertical">
    <div class="container container--small container--no-margins">
      <div class="box popin__box">
        <div class="box__content box__title popin__title"></div>
        <div class="box__content popin__content"></div>
      </div>
      <div class="actions actions--center actions--margin-top popin__actions"></div>
    </div>
  </div>
</template>
